
#btn{
    background-color: black;
    border-radius: 5px;
    color: white;
	all:none;
}
#btn:hover{
    background-color: yellow;
    color: black;
    border-radius: 30px;
	border:none;
}

/* Your CSS Code here. */